{% extends 'news/base.html' %}

{% load static %}

{% block title %} Foydalanuvchi parolini tiklash {% endblock title %}

{% block content %}

  <h1>Parolni o'zgartirish</h1>
  <p>Formani to'ldiring:</p>
  {% if validlink %}
      <p>Iltimos yangi parolni ikki marta kiring</p>
      <form method="post"> {% csrf_token %}
        {{ form.as_p }}
        <p><button type="submit">Change</button></p>
      </form>
  {% else %}
    <p>Siz kiritgan parolingiz to'gri emas</p>
  {%endif%}

{% endblock content %}
